<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--Fontawesome CDN-->

        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="/css/error.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <!------ Include the above in your HEAD tag ---------->
    <body>
        <div id="block_error">
            <div>
                <h2>Error 404. &nbspOops you've have encountered an error</h2>
                <p>
                    It apperrs that Either something went wrong or the page doesn't exist anymore..<br />
                    This website is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
                </p>
                <p>
                    If you are the owner of the account and are regularly seeing this error, please read more about it in our <a href="#">knowledgebase</a>.
                    If you have any questions, please contact our Technical Support department.
                </p>
            </div>
        </div>
    </body>
</html>