<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Messages</h1>
        <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Üzenet</th>
                        <th>Küldő</th>
                        <th>Dátum</th>
                    </tr>
                </thead>
                <tr data-th-each="message: ${messages}">
                    <td><a data-th-href="@{'/messages/'+${message.id}}" data-th-text="${message.id}"></a></td>
                    <td data-th-text="${message.text}"></td>
                    <td data-th-text="${message.author}"></td>
                    <td data-th-text="${message.dateTime}"></td>
                </tr>
            </table>
        
        <a data-th-href="@{messages/create}">New Message</a>
    </body>
</html>
