<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Üzenetek</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
        <h1>Messages</h1>
        <form data-th-action="@{/messages}" method="get">
            <table>
                <tr>
                    <td>Üzenet írója:</td>
                    <td><input type="text" name="author"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Üzenet szövege:</td>
                    <td><input type="text" name="text"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Üzenet keletkezése:</td>
                    <td><input type="datetime-local" name="startDate"/></td>
                    <td><input type="datetime-local" name="endDate"/></td>
                </tr>
                <tr>
                    <td>Rendezés:</td>
                    <td>
                        <select name="sortBy">
                            <option value="author">Szerző</option>
                            <option value="text">Szöveg</option>
                            <option value="date">Dátum</option>
                        </select>
                    </td>
                    <td>
                        <input type="radio" name="ascending" value="true" checked/> Növekvő
                        <input type="radio" name="ascending" value="false"/> Csökkenő
                    </td>
                </tr>
                <tr>
                    <td>Megjelenítendű üzenetek száma:</td>
                    <td><input type="number" name="messageCount"/></td>
                    <td></td>
                </tr>
            </table>
            <input type="submit" value="Keresés"/>
        </form>
        <div data-th-if="${messages.empty}">
            Nincs megjelenítendő üzenet!
        </div>
        <table data-th-if="${!messages.empty}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Üzenet</th>
                    <th>Küldő</th>
                    <th>Dátum</th>
                    <th data-sec-authorize="hasRole('ADMIN')">Deleted</th>
                    <th data-sec-authorize="hasRole('ADMIN')"></th>
                </tr>
            </thead>
            <tr data-th-each="message: ${messages}">
                <td><a data-th-href="@{'/messages/'+${message.id}}" data-th-text="${message.id}"></a></td>
                <td data-th-text="${message.text}"></td>
                <td data-th-text="${message.author}"></td>
                <td data-th-text="${{message.dateTime}}"></td>
                <td data-sec-authorize="hasRole('ADMIN')" data-th-text="${message.deleted}"></td>
                <td data-sec-authorize="hasRole('ADMIN')"><form data-th-action="@{'/messages/delete/'+${message.id}}" method="post"><input type="submit" value="Delete"/></form></td>

            </tr>
        </table>

        <a data-th-href="@{/messages/create}">New Message</a>
        <a data-th-href="@{/userstats}">User Statistics</a>
    </body>
</html>
